body{
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position:center;
    background-attachment: fixed;
}
div{
    clear: both;
}
.container{
    width: 80%;
    margin: auto;
}
header#header-1{
    text-align: center;
    background-color: #2b2d42;
    color: white;
    border-bottom: #ef233c 2px solid;
}
header#header-1 h1{
    margin: 0;
    padding: 20px;
}
section#contact{
    background-color: #8d99ae;
    text-align: center;
}
section#contact ul{
    padding: 0;
    margin: 0;
    display: inline;
    list-style-type: none;
}
section#contact li{
    margin: 0;
    padding: 0;
    display: inline;
    padding: 0 20px 0 20px;
}
section#contact a{
    color: black;
    text-decoration: none;
}
section#contact a:hover{
    color: red;
    text-decoration: underline;
}
main section#education,
main section#projects,
main section#dev,
main section#com,
main section#other{
    margin: 20px 0px;
    padding: 10px;
    background-color: #edf2f4;
    overflow: hidden;
    border-bottom: #edf2f4 10px solid;
}
main section#education h1,
main section#projects h1{
    margin: 0px;
}
main section#education h3,
main section#projects h3{
    margin: 0px;
    float: left;
}
main section#education .location,
main section#projects .duration{
    margin: 0px;
    float: right;
}
main section#projects ul,
main section#education .program{
    margin: 10px 0px;
    float: left;
    padding-left: 20px;
}
main section#education .duration{
    margin: 10px 0px;
    float: right;
}


footer{
    text-align: center;
    padding: 1px;
    background-color: #8d99ae;
}
@media screen and (max-width:950px;) {
    section#contact ul{
        display: block;
    }

    main section#education h3,
    main section#projects h3{
        margin: 0px;
        float: none;
        padding-left: 20px;
    }
    main section#education .location,
    main section#projects .duration{
        margin: 0px;
        float: none;
        padding-left: 20px;
    }
    main section#projects ul,
    main section#education .program{
        float: none;
        padding-left: 20px;
    }
    main section#education .duration{
        float: none;
        padding-left: 20px;
    }
    main section#projects div{
        display: inline-block;
        margin-left: 20px;
    }
}
@media screen and (max-width:510px;) {
    section#contact li{
        display: block;
    }
    .container{
        width: 100%;
    }

    main section#education h3,
    main section#projects h3{
        margin: 0px;
        float: none;
        padding-left: 20px;
    }
    main section#education .location,
    main section#projects .duration{
        margin: 0px;
        float: none;
        padding-left: 20px;
    }
    main section#projects ul,
    main section#education .program{
        float: none;
        padding-left: 20px;
    }
    main section#education .duration{
        float: none;
        padding-left: 20px;
    }
    main section#projects div{
        display: inline-block;
        margin-left: 20px;
    }

}
