body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    width: 720px;
    margin: 0 auto;
}

.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

header#header {
    background-color: #000;
}

header#header div div {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: #333 3px solid;
}

header#header a {
    line-height: 0;
    color: white;
    text-decoration: none;
}

header#header img {
    margin: 0 10px;
}

header#header h1 {
    padding-top: 9px;
}

section#showcase {
    padding-top: calc(50vh - 180px);
    padding-bottom: calc(50vh - 100px);
}

section#showcase div div {
    text-align: center;
}

section#showcase div div>img {
    width: 200px;
    height: 200px;
    position: relative;
    transition: linear all 0.5s;
}

section#showcase div div>img:hover {
    filter: brightness(90%);
}

section#showcase div div a {
    margin: 5px;
}

section#showcase div div a img:hover {
    opacity: 50%;
}

h2 {
    margin-bottom: 0;
    font-weight: normal;
    font-size: medium;
    margin-left: 0.5em;
}

p {
    font-size: small;
}

.con {
    font-size: small;
}

nav p {
    display: inline;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
}

div.edu>div>p.ins {
    display: inline;
    font-size: medium;
    font-weight: bold;
    padding-left: 1em;
}

div.edu>div>p>span.addr {
    float: right;
    font-style: italic;
    font-size: small;
    font-weight: normal;
}

div.edu>div>p.deg {
    padding-left: 2em;
    font-style: italic;
}

div.edu>div>p>span.year {
    float: right;
    font-style: italic;
}

div.pro>div>p {
    font-weight: bold;
    display: inline;
}

div.pro>div>p.proname {
    padding-left: 1em;
    font-weight: bold;
}

div.pro>div>p.protool {
    font-style: italic;
}

div.pro>div>p.dur {
    font-weight: normal;
}

div.pro>div>ul {
    font-size: small;
}

div.prog>div>p {
    display: inline;
    font-size: small;
}

div.prog>div>p.head {
    padding-left: 1em;
    font-weight: bold;
}

div.com>div>p {
    display: inline;
    font-size: small;
}

div.com>div>p.head {
    padding-left: 1em;
    font-weight: bold;
}

div.other>div>p {
    display: inline;
    font-size: small;
}

div.other>div>p.head {
    padding-left: 1em;
    font-weight: bold;
}

.centered-text {
    text-align: center;
}

nav li {
    margin: 0;
}

footer#footer {
    text-align: center;
}
