---
import { Github, Twitter, Linkedin, Mail } from "lucide-astro";
---

<div class="mb-8">
  <div class="mb-6">
    <h1 class=" text-4xl font-medium mb-2 flex items-center gap-2">
      Talha Mujahid
    </h1>
  </div>

  <div class="mb-6">
    <p class=" leading-relaxed mb-4">
      I'm a passionate MERN stack developer with experience on multiple platforms. I am a strong advocate
      for clean and efficient code that is maintainable, scalable, and easy to understand. I'm always
      seeking out new challenges to grow as an engineer and am highly adaptable to new technologies and
      fast-paced environments. I also believe in the power of community-driven development through
      open-source collaboration.
    </p>
  </div>

  <div class="">
    <div class="flex items-center gap-4">
      <span class="">Social Links:</span>
      <div class="flex items-center gap-3">
        <a href="https://github.com/htmujahid" class="hover:text-muted-foreground">
          <Github class="h-4 w-4" />
        </a>
        <a href="https://x.com/htmujahid" class="hover:text-muted-foreground">
          <Twitter class="h-4 w-4" />
        </a>
        <a href="https://www.linkedin.com/in/htmujahid/" class="hover:text-muted-foreground">
          <Linkedin class="h-4 w-4" />
        </a>
        <a href="mailto:htmujahid@gmail.com" class="hover:text-muted-foreground">
          <Mail class="h-4 w-4" />
        </a>
      </div>
    </div>
  </div>
</div>