---
import Layout from "./Layout.astro";
import PublicFooter from "./PublicFooter.astro";
import PublicHeader from "./PublicHeader.astro";
---

<Layout>
  <div class="max-w-3xl mx-auto px-4">
    <PublicHeader />
    <slot />
    <PublicFooter />
  </div>
</Layout>
