<footer class="px-4 py-6 border-t border-border">
  <div class="flex justify-center">
    <div class=" ">
      © Copyright {new Date().getFullYear()} HTM. All rights reserved.
    </div>
  </div>
</footer>